{
  "extends":[
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
      "max-len": ["error", { "code": 120 }],
      "react-hooks/exhaustive-deps": "warn",
      "react/prop-types": "off"
    }
}
